html, body{
height: 100%;
margin: 0;
padding: 0;
font-family: 'Roboto Condensed', sans-serif;
}

.wrapper {
flex-direction: column;
min-height: 100%;
}

.content{
max-width: 82rem;
min-height:25rem;               /* minimum height is set. so height will not be reduced below 25rem*/
max-height:100%;
overflow:hidden;
}

.head_img{
width:100%;
}


.nav-item{
font-size:15px;
text-transform: uppercase;
}

.dropdown-item{
font-size:15px;
text-transform: lowercase;
}

.dropdown-menu{
font-size:15px;
background-color: #ff6666;
}


.footer {
  width: 100%;
  background-color: #ff6666;
  padding: 10px;
}

/* category */

.center {

width: 1324px;
height: 300px;
position:relative;
}

.card{                        /* common to all cards */
background-color: #ffe6e6;
}


/* cart */
.table{
min-width=100%;
}

.cart_image{
width=15em;
height=15em;
}
